<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Eligibility Checker Test Suite">
    <test name="Eligibility Checker Test" preserve-order="true">
        <classes>
            <class name="com.eligibilityChecker.testRunner.TestRunner"/>
        </classes>
    </test>
</suite>